//  Linking Fonts

// font-family: 'Roboto';
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src:  local('Roboto'), local('Roboto-Regular');
  src:  url('../fonts/Roboto-Regular.eot');
  src:  url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        //url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:  local('Roboto'), local('Roboto-Bold');
  src:  url('../fonts/Roboto-Bold.eot');
  src:  url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        //url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

// Titles

h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

h1 {
  font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
